/* Style for an implementation of Battleship */

@mainColor: teal;
@contrastColor: white;
@borderRadiusStandard: 10px;
@player1color: slateblue;
@player2color: darkred;

body {
  background-color: white;
  color: @mainColor;
  font-family: sans-serif;
  text-align: center;
  margin: 0 auto;
  height: 100%;
}

/* center everything -- overriding baked-in style of semantic tags */

/* site-wide text settings */
h1, 
h2, 
h3,
h4,
a {
  margin: 0 auto;
  color: @mainColor;
}

/* make all sections full width, centered */

header, 
footer,
#mainScreen,
section {
  margin: 0 auto;
  width: 100%;
}

/* Setting up the screen */

header {
  height: 10%;
  padding: 20px 0;
  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-style: italic;
    font-size: 1em;
  }
}

footer {
  height: 10%;
  padding: 20px 0;
  h5 {
    font-size: .9em;
  }
}

button,
input.targetButton {
  border-radius: @borderRadiusStandard;
  padding: 5px;
  background-color: @contrastColor;
}

:focus, :active {
  outline: thin dotted;
}

/* Styling of main screen area */

#mainScreen {
  height: 80%;
}

section.screen {
  height: 100%;
  min-height: 250px;
  &.hide {
    display: none;
  }
  &.show {
    display: inline-block;
  }
}

h3 {
  padding: 20px 0;
}
button {
  margin: 5px 0;
}

/* Opening/Start Screen */
#startScreen {
  background-color: @contrastColor
}

/* Privacy/feedback Screen */
#feedbackScreen { 
  background-color: @mainColor;
  h1, 
  h2, 
  h3,
  h4 {
    color: @contrastColor;
  }
}

/* Active Game Screen */
#activeScreen {
  background-color: @contrastColor;

  .grid {
    color: @contrastColor;
    display: inline-block;
    div {
      float: left;
      background-color: @mainColor;
      height: 100px;
      width: 100px;
    }
    .cell {
      background-color: @player1color;
      border: white dotted medium;
    }
  }

}

/* for somewhat smaller screens, not quite mobile phone */
/*tablet, approx 800px wide*/
/*and (min-width: 600px) */
@media all and (min-width: 600px) and (max-width: 1023px) {
  div.home {
    /*TODO /lv change to proper color, currently only a marker*/
    /*background-color: teal;*/
  }
  div.about {
    /*TODO /lv change to proper color, currently only a marker*/
    /*background-color: teal;*/
  }
  div#contact {
    /*TODO /lv change to proper color, currently only a marker*/
    /*background-color: teal;*/
  }
}

